@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin:0;
}

.glow {
  color: #f0bf81;
  text-shadow: 0 0 5px #f0bf81;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
