@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin:0;
}

.glow {
  color: #f0bf81;
  text-shadow: 0 0 5px #f0bf81;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ascii-art {
  display: inline-block;
  transform-origin: top left;
}

@media (max-width: 767px) {
  .ascii-art {
    transform: scale(0.8);
  }
}

@media (max-width: 480px) {
  .ascii-art {
    transform: scale(0.6);
  }
}